body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  cursor: pointer;
  color: #61dafb;
}

main {
  padding: 20px;
  text-align: center;
  flex: 1;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
}

li img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

li div {
  text-align: left;
}
.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

